#gallery img{
    max-width: 500px;
}
button{
    display:block;
}
.hidden{
display: none;
}
.visible{
visibility: visible;
}
.NextBack{
    display: inline-block;
}
.border{
    width: 300px;
    border: 2px solid;
    margin-bottom: 15px;
}
.filter{
    margin-top: 20px;
}